:root{
    --theme1: #07151e;
    --theme2: #15beb6;
    --width: 45%
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #07151e;
    color: white;
    margin-top: 3.5%;
}

#header{
    width: 100%;
    min-height: 150vh;
    background-image: url(images/VenicePortrait.jpg);
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 60%;
}

.container{
    padding-bottom: 0%;
}

nav{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(6, 27, 40);
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    max-width: 80px;
    width: 5vw;
    padding: 5px 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    transition: 0.3s;
}

.active a{
    color: var(--theme2);
    width: 100%;
}

.active a::after{
    content: '';
    width: 100%;
    height: 3px;
    background: var(--theme2);
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--theme2);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: var(--theme2);
}

.header-text{
    position: relative;
    padding-top: 0%;
    font-size: 30px;
    background-color: #2d2d2dd9;
    max-width: var(--width);
    padding-left: 5%;
}

.header-text h1{
    font-family: 'Courier';
    font-size: 90px;
    padding-top: 8%;
    margin-top: 20px;
    color: var(--theme2);
    font-weight: 100;
}

.header-text p span:nth-of-type(1){
    font-family: 'Courier';
    color: var(--theme2);
}

.header-text p span:nth-of-type(2){
    font-family: 'Courier';
    background: linear-gradient(to right, #5fbcb7, white);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-text p span:nth-of-type(3) a,
.header-text p span:nth-of-type(4) a{
    font-family: 'Courier';
    color: var(--theme2);
}

.header-text p span:nth-of-type(3) a:hover,
.header-text p span:nth-of-type(4) a:hover{
    font-family: 'Courier';
    color: rgb(13, 18, 89);
}

.header-text p{
    font-family: 'Courier';
    padding: 1%;
    padding-bottom: 8%;
    font-size: 18px;
    color: #ffffff;
}

/* Updates and Announcements section */
.Updates{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #2d2d2dd9;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 2%;
}

.Updates h1{
    padding-top: 2%;
    color: var(--theme2);
}

.Updates ul li{
    color: white;
    background-color: rgba(31, 53, 108, 0);
    list-style: circle;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

/* .Updates ul li:first-child{
    background-color: rgb(255, 0, 0);
    list-style-type: none;
    margin-left: 0%;
} */


/* -------ABOUT SECTION--------- */

#about{
    padding: 0px 0px;
    color: rgb(173, 173, 173);
}

.row{
    padding: 80px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    max-width: 800px;
    margin-right: 10%;
    margin-left: 5%;
}

.about-col-2{
    flex-basis: 55%;
}

.about-col-2 p{
    margin-top: 2%;
}

.sub-title{
    font-size: 350%;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative; 
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--theme2);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #25a09a;
    font-size: 14px;

}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents li button{
    margin: 3%;
    margin-top: 1%;
    margin-left: 0%;
    padding: 2% 6%;
    align-items: center;
    background-color: #2a8f8f;
    border-radius: 8px;
    transition: 0.3s;
}

.tab-contents li button a{
    text-decoration: none;
    color: black;
}

.tab-contents li button a::after{
    color: black;
}

.tab-contents li button:hover{
    background-color: #26dbd2;
}

/* --------HOBBIES SECTION--------- */

#hobbies{
    padding: 0px 0;
}

#hobbies .sub-title{
    margin: 4%;
    text-align: center;
}

.hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    margin: 5% 5%;
}

.hobbies-list div{
    color: white;
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-radius: 10px;
    transition: 0.3s;
}


.hobbies-list div:hover{
    background: #15beb6;
    transform: translateY(-10px);
    color: black;
}

.hobbies-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.hobbies-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.hobby-button{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    margin-top: 20px;
    display: inline-block;
    background-color: #3a4342;
    padding: 5%;
    border-radius: 5px;
    transition: 0.3s;
}

.hobbies-list div:hover .hobby-button{
    background-color: #0d746f;
    color: #000000;
}

.hobbies-list div:hover p span a{
    color: rgb(1, 7, 92);
}

.hobby-button:hover{
    background-color: #125855;
}

.hobbies-list p span a{
    color: var(--theme2);
    transition: 0.3s;
}

/* ------CONTACT SECTION-------- */

.contact-row{
    max-width: 1920px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.contact-left{
    padding-left: 5%;
    flex-basis: 35%;
}

.contact-right{
    padding-right: 5%;
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    color: white;
}

.contact-left p i{
    color: var(--theme2);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #9b9b9b;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--theme2);
    transform: translateY(-5px)
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--theme2);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.btn:hover{
    background: var(--theme2);
    color: var(--theme1);
}

.btn.btn2{
    display: inline-block;
    background: var(--theme2);
    color: var(--theme1);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 14px;
    cursor: pointer;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* ------EXPERIENCE SECTION--------- */
.experience-title{
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 350%;
    font-weight: 600;
}

.experience-row{
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experience-col-1{
    flex-basis: 10%;
    margin-left: auto;
    position: relative;
}

.experience-col-1 img, .experience-col-1 video{
    background-color: #c4c4c4;
    width: 240px;
    height: 240px;
    object-fit: contain;
    border-radius: 15px;
}

.experience-col-2{
    flex-basis: 50%;
    max-width: 900px;
    margin-left: 5%;
    margin-right: auto;
}

.experience-col-2 p{
    color: white;
    margin-top: 2%;
    font-size: 14px;
}

.experience-col-2 h3{
    margin-top: 1%;
}

.experience-col-2 > h2 > .underDevelopment{
    color: red;
}

.experience-col-2 > h2 > .justLaunched{
    color: #26dbd2;
}

.experience-col-2 p a{
    color: #15beb6;
}


.experience-image-item {
    flex: 1 0 28%;
    min-width: 200px;
    cursor: pointer;
    background: none;
    outline: none;
    border-radius: 15px;
  }
  
  .experience-image-item img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
  }

  .experience-image-item:is(:hover, :focus) img {
    transform: scale(1.03);
  }

/* ---------EDUCATION SECTION------------- */
#education{
    padding-bottom: 5%;
}

#education .sub-title{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
}

.education-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

.school{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.school img{
    width: 100%;
    height: 360px;
    border-radius: 10px;
    min-height: 310px;
    display: block;
    transition: transform 0.5s;
    scale: 1.01;
    object-fit: cover;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(7, 21, 30, 0.6), var(--theme2));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    color: #07151e;
    transition: height 0.5s;
}

.layer img{
    border-radius: 0;
    margin-top: 50px;
    margin-bottom: 0px;
    max-height: 80px;
    min-height: 0;
    height: 0;
    width: auto;
    transition: 0.5s;
}

.layer.weird img{
    margin-top: -40px;
    max-height: 150px;
    max-width: 350px;
}

.layer p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    height: 0;
    color: #00000000;
}

.school:hover img{
    transform: scale(1.11);
}

.school:hover .layer{
    height: 100%;
}

.school:hover .layer p{
    color: black;
}

.school:hover .layer img{
    height: 100%;
}

/* --------PROJECT SECTION--------- */  
.experience-col-1.showcase img, .experience-col-1.showcase video{
    height: 250px;
    object-fit: cover;
    margin-top: 4%;
    transition: transform 250ms cubic-bezier(0.79, 0.25, 0, 1.07);
    cursor: pointer;
    background: none;
    outline: none;
    flex: 1 0 28%;
}

.experience-col-1.showcase.TSA img{
    background-color: #c4c4c4;
    object-fit: contain;
}
  
  .experience-col-1.showcase:is(:hover, :focus) img,
  .experience-col-1.showcase:is(:hover, :focus) video {
    transform: scale(1.03);
  }

  .experience-col-1.no-zoom img{
    height: 250px;
    object-fit: cover;
    outline: none;
  }

  .youtube-link .icon{
    width: 40px;
    color: red;
    align-items: center;
    flex-shrink: 0;
    line-height: 0;
    transition: all 400ms ease;
  }

  .youtube-link{
    font-size: 24px;
    color: #ffffff;
    display: flex;
    gap: 16px;
    cursor: pointer;
    transition: all 400ms ease;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .youtube-link:hover{
    color: #15beb6;
    text-decoration: underline;
  }

  .youtube-link:hover .icon{
    color: #15beb6;
    transform: translate(10px);
  }

  .youtube-player-overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }

  .youtube-player-overlay.active{
    opacity: 1;
    pointer-events: auto;
  }

  .youtube-player-popup{
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all 400ms ease;
  }

  .youtube-player-overlay.active .youtube-player-popup{
    transform: translate(-50%, 0);
  }

  .youtube-player-popup iframe{
    width: 100%;
    aspect-ratio: 16/9;
  }

  .experience-col-2 h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    vertical-align: center;
  }

.experience-col-2 p span a{
    color: var(--theme2);
}

.experience-col-2 p span a:hover{
    color: rgb(21, 28, 136);
}

  /* -------COMPUTERS SECTION------------- */
  .computers{
    padding-bottom: 0.5%;
  }
  .subheading{
    padding-bottom: 3%;
    text-align: center;
    color: #15beb6;
  }


/* ---------css for small screen------------ */
nav .fas{
    display: none;
}

@media only screen and (max-width: 980px){
    nav .fas{
        display: block;
        font-size: 50px;
    }
    nav ul{
        background: #125855;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .active a{
        color: #15beb6;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .logo{
        width: 50px;
    }
}

@media only screen and (max-width: 950px){
    #header{
        background-position-x: 0%;
    }
    .header-text {
        max-width: 50%;
    }
    .header-text h1{
        font-size: 50px;
    }
    .Updates h1{
        font-size: 20px;
    }
    .experience-col-1, .experience-col-2 {
        flex-basis: 100%;
    }
    .experience-col-2, .experience-title{
        text-align: center;
        margin: 0 5%;
    }
    .youtube-link{
        translate: 20px 0;
    }
    .experience-col-1 img, .experience-col-1 video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .experience-col-2 h2{
        padding-top: 1.5%;
    }
    .experience-row{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 600px){
    #header{
        background-position-x: 50%;
    }
    nav .fas{
        display: block;
        font-size: 35px;
    }

    .logo{
        width: 40px;
    }

    .header-text{
        margin-top: 2%;
        max-width: 100%;
        font-size: 16px;
        padding-left: 0%;
    }
    .header-text h1{
        font-size: 45px;
        margin-top: 0;
    }
    .Updates{
        max-width: 50%;
        margin-top: 10%;
    }
    .Updates h1{
        font-size: 18px;
    }
    .Updates ul li {
        font-size: 12px;
    }
    .sub-title{
        font-size: 40px;
        margin-top: 6%;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .row{
        padding: 20px 30px;
    }
    .education-list{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        padding-left: 5%;
        padding-right: 5%;
    }
    .school img{
        min-height: 0;
    }
    .layer{
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    .layer img{
        border-radius: 0;
        margin-bottom: 0px;
        min-height: 0px;
        height: auto;
        margin-top: -50px;
        max-height: 50px;
        max-width: 200px;
    }
    .layer.weird img{
        border-radius: 0;
        margin-bottom: 0px;
        min-height: 0px;
        height: auto;
        margin-top: -60px;
        max-height: 90px;
        max-width: 200px;
    }
    .layer.GeorgiaTech img{
        max-height: 200px;
        max-width: 275px;
    }
    .layer p{
        height: 10%;
        color: #000000;
        font-size: 14px;
    }
    .school:hover img{
        transform: none;
    }
    .school:hover .layer p{
        color: inherit;
    }
    .school:hover .layer img{
        height: auto;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .experience-col-2 h2{
        font-size: 18px;
    }
    .experience-col-2 p{
        font-size: 14px;
    }
    .experience-title{
        font-size: 45px;
    }
}